npm install
expo install
npm i @react-native-community/hooks

Project folder:

expo install react-native-svg

npm i react-native-svg-transformer --save-dev


npm install react-native-elements

expo install expo-linear-gradient

npm i react-native-keyboard-aware-scroll-view --save

npm install @react-navigation/native

npm install react-native-reanimated react-native-gesture-handler react-native-screens react-native-safe-area-context @react-native-community/masked-view


npm install @react-navigation/stack

expo install firebase

expo install expo-app-loading